html
	- var title_default = "PUG";
	- var title_alt 	= "Second Title";
	- var show_content 	= false;
	head
		//- Show title_default inside title tag
		title=title_default
	body
		//- If example
		if show_content
			//- Concat example
			header.
				Titulo: #{title_default}
		else
			//- Concat example
			header.
				Título alternativo: #{title_alt}
		footer.
			Texto que aparece no footer