header.header
	div.container
		nav.menu
			ul.menu-items
				li.menu-item
					a.menu-link(href="#") Perfil
				li.menu-item
					a.menu-link(href="# ") Projetos
		div.profile
			img.profile-img(srcset="assets/img/profile-1x.jpg 1x, assets/img/profile-2x.jpg 2x" src="assets/img/profile-2x.jpg" alt="Imagem de perfil")
			span.profile-text Perfil Name