header.header
	div.container
		nav.menu
			ul.menu-items
				li.menu-item
					a.menu-link(href="#") Home
				li.menu-item
					a.menu-link(href="# ") Perfil
		div.profile
			img.profile-image(src="assets/img/profile.png" alt="Imagem de perfil")
			span.profile-text Perfil Name