/* COLORS */

highlight-color = #ff0066
secondary-color = #212121
bg-color        = #333
branco-color    = #fff

/* GLOBAL */
*{
	box-sizing border-box
}

html, body{
	height 100%
}

body {
	display flex
	flex-direction column
}

.main {
	flex 1
}

.centered {
	display flex
	justify-content center
	align-items center
}

.wrapper{
	min-height calc(100% - 40px)
}

.container{
	border()
	width 100%
	max-width 800px
	margin 0 auto
	display flex
	flex-wrap wrap
}

/* DEV MIXIN */
header_dev()
	// border 1px dashed #fff

footer_dev()
	border 1px dashed #000

/* PARTIALS */
@import('partials/header.styl')
@import('partials/footer.styl')