/* COLORS */

highlight-color = #ff0066
secondary-color = #212121
bg-color        = #333333

/* HEADER */

.header{
	width: 100%;
	// height: 30px;
	background-color: highlight-color;
}

.menu{
	// border 1px dashed
	display flex
	align-items: center
}

.menu-items{
	margin-top 0
	margin-bottom 0
	padding-left 0
}

.menu-item{
	list-style none
	display inline-block
}

.menu-link{
	color #fff
	text-decoration none
	display inline-block
	padding 10px
}

.container{
	// border 1px dashed
	width 100%
	max-width 800px
	margin 0 auto
}